body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#home-button{
  background-color: Transparent;
  outline: none;
  border: 0;
  width: 400px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#cookie-button{
height: 400px;
width: auto;
}

#cookie-logo{
  transform: rotate(45deg) translate(3px,-3px);
}

.cookie-shop-image-container{
  height:160px;
  width:auto;
  align-items: center;
  overflow: hidden;
}
.cookie-shop-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  max-height: 100%;
}

.card-text{
  margin-top:2px ;
  margin-bottom:2px ;
}

.cookie-card{
  padding:10px;
}

.cartItemContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.cartItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cartItemImg{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  float: left;
  margin-left: 5px;
}

.cartItemDetail{
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
  float: left;
}

.trashIcon{
  display: flex;
  flex: 1;
}

.productQty{
  width: 50px;
  height: 40px;

}
